<!doctype html>
<html language="en" data-ng-app="medsisApp">
<head>
  <!--@Created By Felipe Guti-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>Customers</title>
  <!--angular libs-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <!--Bootstrap Styles-->
  <link rel="stylesheet" href="app/styles/customers.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>
  <!--Views holder-->
  <!-- For Routing purpose -->
  <!--<div class="container" data-ng-view></div>-->
  <div class="container" data-ng-controller="LoadUsersController">
    <h1>Medisis Test Web App!</h1>
    <!--AutoComplete-->
    <div ng-controller="TypeaheadCtrl">
      <label>Search all customers:</label>
        <input type="text" ng-model="asyncSelected" placeholder="Search by UserName"
         uib-typeahead="item as item.username for item in getFilteringCustomers($viewValue)"
         typeahead-on-select="onSelectedCustomer($item, $model, $label)"
         typeahead-loading="loadingCustomers" typeahead-no-results="noResults" class="form-control">
        <i ng-show="loadingCustomers" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>

        <div class="custom-popup-wrapper"
           ng-style="{top: position().top+'px', left: position().left+'px'}"
           style="display: block;"
           ng-show="isOpen() && !moveInProgress"
           aria-hidden="{{!isOpen()}}">
          <p class="message">select customer from drop down.</p>
          <ul class="dropdown-menu" role="listbox">
            <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
              ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
              <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
          </ul>
        </div>
        <div uib-collapse="isCollapsed" data-ng-show="autocompleteDetailVisibility">
           <div data-ng-model="selected" class="well well-lg">
             <ul data-ng-repeat="(key, value) in selected" data-ng-show="key != 'id'">
               <b>*{{key | uppercase }}</b> <br/>
               {{ value }}
             </ul>
             <button type="button"
              class="btn btn-primary" ng-model="radioModel"
              data-ng-click="onHideDetail()">
              Hide Info
            </button>
           </div>
       </div>
    </div>
    <!--Search in List -->
    <label>Search customer in list:</label>
    <input ng-model="name" type="text"
    placeholder="Search by UserName" class="form-control"/>
    <label>Hello {{name}}!</label>
    </br/>
    <h3>Select to get user information:</h3>
    <div data-ng-controller="PaginationDemoCtrl">
    <ol>
      <li
       data-ng-repeat="customer in customers.slice(((bigCurrentPage-1)*listLimit), ((bigCurrentPage)*listLimit))
       | filter:name | orderBy:age" >
          <button type="button" data-ng-controller="CollapseDemoCtrl"
          style="width: 95%; margin-top: 2px"
          class="btn btn-default"
           data-ng-click="getCustomerInfo(customer, isCollapsed)">
           {{customer.username}}
         </button>
            <div  ng-animate="'animate'" uib-collapse="isCollapsed"  id="{{::customer.id}}"
            data-ng-model="selected"
            data-ng-show="customer.id == selected.id"
            class="well well-lg">
              <ul data-ng-repeat="(key, value) in selected" data-ng-show="key != 'id'">
                <b>*{{key | uppercase }}</b> <br/>
                <p style="word-wrap: break-word;">{{ value }}</p>
              </ul>
            </div>
      </li>
    </ol>
    <ul uib-pagination total-items="bigTotalItems" data-ng-model="bigCurrentPage"
    max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"
    data-ng-change="pageChanged()"></ul>
    </div>
  </div>
  <!--App Libraries-->
  <script src="app/shared/ui-bootstrap-tpls-2.2.0.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/routers.js"></script>
  <script src="app/module.js"></script>
  <script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
  </script>
  <script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;"
       ng-show="isOpen() && !moveInProgress"
       aria-hidden="{{!isOpen()}}">
      <p class="message">select location from drop down.</p>
      <ul class="dropdown-menu" role="listbox">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
          <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
      </ul>
    </div>
  </script>
</body>
</html>
